[user]
	name = Sergei MILITER
	email = htmlcssjs.pro@gmail.com
	url = https://htmlcssjs.pro
[core]
	editor = \"C:\\Users\\htmlcssjs.pro\\AppData\\Local\\Programs\\Microsoft VS Code\\Code.exe\" --wait
